<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/main.css" />
    <script src="/static/confirm.js" defer></script>
    <script src="/static/countdown.js" defer></script>
 <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1744887146349857"
     crossorigin="anonymous"></script>
     <meta name="google-adsense-account" content="ca-pub-1744887146349857">
     <script async custom-element="amp-auto-ads"
     src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
     </script>
     <meta name="google-site-verification" content="2iu7gLi0jovLSq4wzwgF4BnS9-J_pmOKxY2vXb7azfA" />
     <meta property="og:type" content="website">
     <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
     <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
     <link rel="manifest" href="/site.webmanifest">
     <link rel="icon" type="image/png" sizes="32x32" href="/icon.png">
     <meta name="title" content=" PLANINC">
<meta name="author" content="Planinc">
<meta name="description" content="Planinc Online is the official digital destination of the world’s biggest movie magazine – with the very latest film news, decades of movie reviews, and topical discussions of the biggest talking points in the world of cinema. From genre-centric lists of the greatest films ever made, to the very latest Marvel and DC updates, to comprehensive guides on the most exciting future movies, Planinc Online has everything you need to keep up with the very latest goings-on in Hollywood and beyond. Not only that, but you’ll find exclusive interviews with directors and movie stars, spoiler-filled breakdowns of the latest blockbusters, every episode of the Planinc Podcast, plus videogame reviews, and TV reviews from Pilot TV – the cinematic TV magazine from the creators of Planinc. Explore the site for all the ultimate online movie coverage – and join in the conversation with Planinc Magazine on Facebook and on Twitter">
<meta name="keywords" content="Planinc,movie, aplikasi,new,rilis,moveflix,info movie,planinc,website">
<meta name="language" content="English">
<meta name="robots" content="index">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7CGBJCG5RZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7CGBJCG5RZ');
</script>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5WWGQ88S');</script>
<!-- End Google Tag Manager -->
<!-- Meta tag Google AdSense ditambahkan oleh Site Kit -->
<meta name="google-adsense-platform-account" content="ca-host-pub-2644536267352236">
<meta name="google-adsense-platform-domain" content="sitekit.withgoogle.com">
<meta name="google-adsense-account" content="ca-pub-9210764842309864">
<meta name="google-adsense-account" content="ca-host-pub-9210764842309864">
<meta name="google-adsense-platform-domain" content="planinc.github.io">
<meta name="google-adsense-account" content="ca-pub-1744887146349857">
<meta name="google-adsense-account" content="ca-host-pub-1744887146349857">
<meta name="google-adsense-platform-domain" content="finansial.biz.id">
<!-- Akhir tag meta Google AdSense yang ditambahkan oleh Site Kit -->

<!-- Snippet Google AdSense telah ditambahkan oleh Site Kit -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6134860497379684&amp;host=ca-host-pub-2644536267352236" crossorigin="anonymous"></script>

<!-- Snippet Google AdSense penutup telah ditambahkan oleh Site Kit -->

  
  </head>
  <body>
      {{ range .messages }}
        <div class="container">
          <h3>{{ . }}. <a href="/">Dismiss</a>.</h3>
        </div>
      {{ end }}

      <form
        action="/"
        class="container"
        method="post"
        enctype="multipart/form-data"
        onsubmit="return confirmForm()"
      >
        <h2>Upload a file to {{ .hostname }}</h2>
        <label for="upload" class="upload-label btn">
          Click here to upload
          <input type="file" multiple id="upload" name="upload" />
        </label>
        <label for="autodelete" class="btn autodelete">
          <input type="checkbox" name="autodelete" id="autodelete" onchange="document.querySelector('label.autodelete').classList.toggle('checked')">
          Auto-delete
        </label>
        <button type="submit" class="upload-btn btn">Upload</button>
      </form>

      <div class="container">
        <h2>Download shared files from {{ .hostname }}</h2>
        {{ if ne .view "" }}
          <h4 class="directory"><a href="/">shared files</a> / {{ .view }}</h4>
        {{ end }}
        <ol>
          {{ if eq (len .files) 0 }}
            <li>
              nothing here but linux
            </li>
          {{ else }}
            {{ range .files }}
              {{ if ne .Name ".directory" }}
                {{ if .IsDir }}
                  <li class="directory">
                    <a href="/?view={{ .Path }}">{{ .Name }}</a>
                    <a class="zip" href="/zip/{{ .Name }}">(download as zip)</a>
                  </li>
                {{ else }}
                  <li>
                    <a href="/download/{{ .Name }}" target="_blank">{{ .Name }}</a>
                    {{ if ne .ExpiresIn 0 }}
                      <span class="countdown-wrapper">(deletes in <span class="countdown">{{ .ExpiresIn }}</span>)</span>
                    {{ end }}
                  </li>
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        </ol>
      </div>

      <div class="container">
        <h3>Scan this QR code to connect another device that is on the same network:</h3>
        <img src="/qrcode.png" alt="qr code">
      </div>
  </body>
</html>
